[2016-04-13 11:09] lossius opened #1 "Reorganise tools for repository refactoring"
Make sure that I'm able to make installers with the new folder structure

[2016-04-22 08:26] lossius opened #2 "Implement PseudoInverse encoder"

[2016-04-22 08:27] lossius opened #3 "Implement Periphonic 3D encoder"

[2016-04-22 08:27] lossius opened #4 "Implement Periphonic decoder"

[2016-04-22 08:28] lossius opened #5 "Implement Diametric decoder"

[2016-04-22 08:29] lossius opened #6 "Update plugins to describe azimuth with increasing angle in counter-clockwise direction"
When I start working on this, I may make this a milestone and break it up into one issue per plugin that need to be revised.

[2016-04-22 08:31] lossius opened #7 "Update plugins with custom GUI for efficiency"
Currently the GUI gets redrawn all the time. This can be changes so that they only redraw when needed, saving quite a bit of CPU.

When I start addressing this issue, I might make it a milestone, and break it into one issue per plugin.

[2016-04-22 08:32] lossius opened #8 "Improve GUI for encoders"
These plugins will be more user-friendly if it is clear fromt he GUI how channel assignments are set up.

[2016-04-22 08:34] lossius opened #9 "Improve GUI for decoders"
Custom GUIs may help making it clearer how channel assignments work. Additionally it may be useful to implement level metering visualising how spatial dynamics work out in the decoder.

[2016-04-28 09:05] lossius commented on #9
Until this is done, here are schematics showing speaker positioning for the Pantophonic 2D decoder:

![front](https://cloud.githubusercontent.com/assets/38478/14880772/a63b6d02-0d28-11e6-830b-a7056fc64162.png)

![flat](https://cloud.githubusercontent.com/assets/38478/14880776/adafed60-0d28-11e6-8182-e642b6a9a95d.png)

[2016-05-12 16:03] lossius opened #10 "Add plugin(s) for converting between FuMa and ACN/SN3D B-format"
As discussed with the Google VR team.

[2016-05-12 16:04] lossius opened #11 "Add Reaper template for VR audio authoring"
This template should illustrate the authoring process (encoding, transforms, etc.) with a final conversion from FuMa to ACN/SN3D, so that the resulting B--format file can be used with 360° videos, as supported on Android.

[2016-05-13 13:26] lossius opened #12 "Implement Zoom H2 encoder"

[2016-05-13 13:29] lossius opened #13 "Convolution-based encoders and decoders lacks suport for 176.4 kHz"
This relates to https://github.com/ambisonictoolkit/atk-kernels/issues/3 and affects the following plugins:

Encoders

- Diffuser
- Spreader
- SuperStereo
- UHJ

Decoders

- UHJ

[2016-05-13 13:34] lossius opened #14 "Implement support for K and shelf filter in decoders"
This currently affects

- Quad
- Pantophonic

It will also affect some plugins that are not yet implemented:

- Periphonic 3D - #3

We probably need to start by deciding what is a good design for this. Should K and Shelf be added to the  existing plugins or should it rather be set up as a separate plugin inserted into the FX chain just before the decoder?

[2016-05-13 13:57] lossius opened #15 "OSX installer builder uses absolute filepaths"
The file `installer/OSX/ATK for Reaper/ATK for Reaper.pkgproj` use absolute file paths. This hard-link files to include to Trond's harddrive.

If it is possible in [Packages](http://s.sudre.free.fr/Software/documentation/Packages/en/index.html) to use relative file paths instead, this file could work for anyone that wants to create installers.

This issue relates to #1

[2016-05-13 13:57] lossius commented on #15
Additionally there are also a host of .DS_Store files included. Can these be removed?

[2016-05-13 14:16] DrWig commented on #10
Do you just want to include the JS I made for this?

[2016-05-13 14:57] #1 closed

[2016-05-13 14:57] #15 closed

[2016-05-13 14:59] lossius commented on #10
@DrWig : Yes, that would be great. Should I just add the file myself, or do you want to make a Pull request?

[2016-05-13 15:01] lossius commented on #11
@DrWig : Do you have a Reaper template for this more or less ready already? I've seen from your blog and posts on the Facebook VR group lately that you have been working on this.

[2016-05-13 15:01] DrWig commented on #10
i'll do a pull request.  Will add a license to it first.

cheers

Bruce

On Fri, May 13, 2016 at 3:59 PM Trond Lossuis <notifications@github.com>
wrote:

[2016-05-13 18:30] joslloand commented on #11
Hi Trond,

I can do this, actually, and had it in my notes as 'low hanging fruit'.

I was going to take the A-to-B convert and then drop in the new matrices. If you like, I could just forward these to you, and you can drop them in.

Do you have a preference?

[2016-05-13 18:32] joslloand commented on #10
Hi Trond,

I can generate the matrices. The Python code already does the job.

Hi Trond,

I can do this, actually, and had it in my notes as 'low hanging fruit'.

I was going to take the A-to-B convert and then drop in the new matrices. If you like, I could just forward these to you, and you can drop them in.

Do you have a preference?

[2016-05-13 19:26] DrWig commented on #10
No worries if you've already got it sorted. I'm happy to help out if you
ever want it, though......I'm becoming a fan of JS 😉

Cheers

Bruce

On Fri, 13 May 2016 19:32 Joseph Anderson, <notifications@github.com> wrote:

[2016-05-13 20:21] joslloand commented on #10
@DrWig Thanks for your offer of help here. Its one of those things I've had on a todo list since Trond and I spoke to the GoogleVR team.

This does relate to some possible re-architecting of the way the ATK works with matrices that I've been thinking about. I've updated that in my earlier comment.

One thing I'd like to do is to move all the matrix and kernel generating code to Julia... and publis

[2016-05-14 09:05] lossius commented on #3
Duplicate of #4

[2016-05-14 09:05] #3 closed

[2016-05-14 09:32] lossius opened #16 "Remove redundant arguments from drawBackgroundImage function"
The two arguments `aSourceWidth`and `aSourceHeight` to `function drawBackgroundImage` in `atkGraphicsLibrary.jsfx-inc` are not being used, and could be deleted.

[2016-05-14 09:47] lossius opened #17 "Implement level meters"
The two plugins meter4 and meter8 are in the repo but not yet in the distro. The source code seems incomplete, in particular the function `drawMultichannelLevelMeterInterface` in `atkGraphicsLibrary.jsfx-inc`.

[2016-05-14 10:01] lossius commented on #16
The `lCoordinatelist` local variable in this method also seems to be redundant.

[2016-05-15 07:45] lossius commented on #7
Here's Justin's example code illustrating how this can be done:

    desc: Test Line Draw Aliasing

    @init
    gfx_clear=-1; // prevent auto clear of each frame (since we only draw when the frame changes)

    @gfx 500 500

    // Determine geometry
    gCenterX = gfx_w * 0.5;
    gCenterY = gfx_h * 0.5;

    // Update sliders when mouse is pressed
    (mouse_cap == 1) ? (

     slider1 =  (mou

[2016-05-17 06:06] #9 closed

[2016-05-17 06:06] #16 closed

[2016-05-17 20:29] lossius commented on #10
@joslloand has provided me with the necessary matrices. Now it's just a matter of work (and not that much work, really).

[2016-05-20 10:19] lossius commented on #4
Done, and will be included in v1.0.0.b7

[2016-05-20 17:22] joslloand commented on #4
Great news!

[2016-05-20 17:24] joslloand commented on #12
@lossius this could be implemented by a fixed matrix & a scalar. This form would be less full featured than the version found in atk-sc3, but it could be suitable for the time being.

What's needed is to get pinv going....

[2016-05-25 19:11] joslloand commented on #5
Hi @lossius, this is just a question... is pinv() implemented? That's what we need for Diametric to work.

[2016-05-25 19:16] joslloand commented on #4
Hi @lossius, just a quick follow-up... In atk-sc3 this is implemented via #5 (Implement Diametric decoder), which is still listed as open....

[2016-05-25 19:22] joslloand commented on #10
@lossius, I'm now thinking that for Reaper workflow this plug-in should be described as an "Ambisonic exchange" plug-in.

In [atk-sc3](https://github.com/ambisonictoolkit/atk-sc3) the functionality will be described as en/decoding.

As we move towards integrating [matrix loading](https://github.com/ambisonictoolkit/atk-matrices), this kind of thing (adding new en/decoding) should be much easier.

[2016-05-26 08:10] lossius opened #18 "Binaural decoding: Add support for higher sampling rates"
Currently, the measured binaural decoders are available only at SR = 44.1kHz. This reflects the SR of the original HRTF measurements. (CIPIC, Listen)

Ideally, binaural decoders should be made available in all supported SRs.

**NOTE:** This issue is not really a atk-reaper issue, but rather an issue with atk-kernels. It is also tracked as https://github.com/ambisonictoolkit/atk-kernels/issues/1. W

[2016-05-26 18:35] joslloand opened #19 "Matrix loading"
Migrate fixed encoding / decoding matrices to use [atk-matrices](https://github.com/ambisonictoolkit/atk-matrices).

This will facilitate the use of matrices generated by external tools, i.e., [ADT](https://bitbucket.org/ambidecodertoolbox/adt.git).

[2016-05-27 00:09] joslloand commented on #13
The effected en/decoders should just be:

**Encoders**
- Spread
- UHJ

**Decoders**
- Spherical

[2016-05-27 00:10] joslloand commented on #13
Now closed... see note for atk-kernels [issue-3](https://github.com/ambisonictoolkit/atk-kernels/issues/3)

[2016-05-27 00:10] #13 closed

[2016-05-27 07:13] lossius opened #20 "Add new 176.4 kHz kernels to installers"
This issue relates to https://github.com/ambisonictoolkit/atk-kernels/issues/3

[2016-05-27 19:05] joslloand commented on #4
Also... is this the pantophonic (2D) decoder?

I'm going to re-open as a query, particularly in relation to #5.

[2016-05-27 19:19] joslloand opened #21 "Add loudspeaker polarity indicator to decoder GUIs"
@lossius in relation to the GUI enhancement #9, (RMS) levels are now displayed for loudspeaker feeds.

Add an indicator to illustrate the average polarity of channel output feeds. This is "easily" calculated. E.g.:

`polarityLF = TimeAverage(LF * W)`

By monitoring the polarity of `polarityLF` we can determine whether the average signal presented at `LF` is "in phase" or "out of phase" with W. Thi

[2016-05-27 19:23] joslloand commented on #21
More details... there are actually three states of interest:

1. `polarity > 0` means "in phase"
2. `polarity = 0` means "in quadrature"
3. `polarity < 0` means "out of phase"

I'm thinking these states could be represented by a color or shading change of the current metering.

[2016-06-01 21:43] joslloand opened #22 "Add DC-block filter?"
Do we want to add a DC-block (either 1st or 2nd order HP) for signal preconditioning when using proximity?

NOTE: atk-sc3 doesn't specifically have such a thing, but in the notes pre-conditioning with HPF.ar (2nd order) is advised.

[2016-06-01 22:18] mtmccrea opened #23 "Add useful track templates to Reaper"
This could be as simple as including the Reaper "theme" Mike already made, which is basically 2 variations on the Mixer track interface to make meters larger and remove controls which are extraneous when working with ambisonics. Shown and described [here](https://dxarts.washington.edu/wiki/ambisonic-mixing-reaper#track-layouts).

More elaborate layouts could be made... Note the layouts in the link

[2016-06-02 23:20] joslloand opened #24 "Update GUIs for FOA Transforms"
Update the indication of perceived localization focus from _|rV|_ to _|rE|_.

Mapping to _|rE|_ offers a stronger sense of how localized an encoded planewave will appear after transform.

This change will require an update to the figures presented in documentation for [atk-sc3](https://github.com/ambisonictoolkit/atk-sc3).

To implement will require a brief conversation with @lossius as to details

[2016-06-02 23:24] joslloand commented on #24
See also: [Update soundfield transform figures to illustrate rE #11](https://github.com/ambisonictoolkit/atk-sc3/issues/11)

[2016-06-04 07:26] lossius commented on #22
I think this would be a very good idea. I would personally very much like to have this, so I suggest we decide that yes, this is an enhancement that we'd like to see.

[2016-06-04 07:31] lossius opened #25 "Provide Reaper project examples"
When developing the example projects, it will be useful to examine the sc3 examples, and ensure that important aspects are covered.

The best would be to collect all example projects in a shared folder with media files residing in a media subfolder. This media subfolder could then be a git submodule of the atk-sounds, so that we don't have to maintain the example sound files several times over.

T

[2016-06-06 16:52] mtmccrea commented on #22
It should be possible to add this to FoaProximity.ar on the class side (as opposed to modifying the UGen), as a pseudo-ugen, by preconditioning the input before sending to the proximity ugen itself. If there is a case for _not_ including the dc-block, we could add a flag at the end of the arg list as to whether the signal should be preconditioned (default to true), so it could be explicitly be tur

[2016-06-06 19:53] joslloand commented on #22
@lossius, great to hear you think this is a good idea. The thought is that we have novice users and want to help them from hurting themselves. I'm _not_ advocating including the DC-block within the Proximity plug-in. Doing so would mean that Proximity followed by NFC wouldn't return the original signal. (The "look into the soundfield" processing chain requires Proximity and NFC being reciprocal op

[2016-06-06 21:29] joslloand commented on #25
Would there be an easy way for the Reaper projects to have a symbolic link to the atk-sounds folder? E.g., to: `~/Application Support/ATK/sounds`

The thought is, it would be great if the user just needs to install the various assets in their "official" target directories, and then the example Reaper sessions would just look to those locations.

[2016-06-07 19:38] lossius commented on #25
Yes, but I doubt that we want to do it. The problem is that Reaper creates *.reapeaks files for each sound file that it loads in order to be able to draw sound waves faster. These peak files by default end up in the same folder as the sound file itself, and introduce a lot of noise in the folder structure.

If there was a way of setting where peak files go on a per project basis, it would be less

[2016-06-07 19:44] lossius opened #26 "Reconsider quad decoder channel configuration"
Currently it outputs to ch 1-2 and 5-6 using the same channel ordering that is common in many standard plugins and panners for 5.1 and 7.1 surround, with the following channel ordering:

1: Left
2. Right
3. Center
4. LFE
5. Sur Left
6. Sur Right
7. Sur Back Left
8. Sur Back Right

Is this the best design, or would it be better to just have four channels out:

1: Left
2. Right
3. Sur Left
4. Sur Ri

[2016-06-07 19:53] lossius commented on #22
In Reaper I guess that it then simply is a question of inserting a DC filter as a separate plugin before Proximity, right? This might be opaque to many Reaper users. I would like to suggest that I add a DC filter to the Reaper proximity plugin, but I also add a pop-up menu where this filter can be enabled or disabled. I'd like to have it enabled by default.

I believe this would serve as a "conven

[2016-06-08 23:49] joslloand commented on #22
In thinking through this further last night, I'm feeling that the HP shouldn't be included in the Proximity plug-in, as that doesn't actually cover all use cases. Here are some of the thoughts...

- We will often need a HP / DC-block to ensure well behaved conditioning of input to Proximity, as DC in the input signal _will_ cause the integrator to overflow. Bad!
- Similarly, we may often wish to t

[2016-06-08 23:53] joslloand commented on #26
I'm feeling four channels out:

1: Left
2. Right
3. Sur Left
4. Sur Right

is the way to go.

Users making pieces for quad would expect to be able to easily write out a four channel file without remapping the outputs.

Similarly, for my quad system at home, the above arrangement describes my arrangement.

[2016-06-09 00:09] joslloand commented on #25
&

Ok, agreed. We don't want to make a big mess. While most users don't actually view the ATK assets folders, keeping clutter down is a good idea.

Ok, I can see the rationale here....

What about, packaging the Reaper projects as described, but instead of including the soundfiles themselves, the Reaper folder contains links to `ATK/sounds/[file name]`?

That is, instead of having the Reaper proje

[2016-06-14 06:00] lossius opened #27 "Provide feedback when track is set up with insufficient number of channels"
This issue has been migrated from the previous tracker.

[2016-06-15 20:12] joslloand opened #28 "Missing README & License for atk-reaper install on OSX"
Running the installer for atk-reaper doesn't appear to include writing the licensing to into the Reaper Effects directory on OSX.

I'd presume the installer would write:

`~/Application Support/REAPER/Effects/ATK/README.md`
`~/Application Support/REAPER/Effects/ATK/License.md`

There could be an argument that the user has already read the license and readme in running the installer, but I'd assume

[2016-06-22 09:48] lossius commented on #25
I have set up a new project for this:

https://github.com/ambisonictoolkit/atk-reaper-examples

I din

[2016-06-22 09:49] lossius commented on #25
I don't think that it is a good idea to add symbolic links and "reuse" atk-sound files residing somewhere else. Reaper-users might not have downloaded and installed atk-sounds at all, and I am afraid that we

[2016-06-22 09:52] lossius commented on #25
Closing this issue, as further requests for examples should be added as issues in the new repository.

[2016-06-22 09:52] #25 closed

[2016-06-22 09:54] lossius commented on #11
Moving this issue to the new atk-reaper-examples repository.

[2016-06-22 09:54] #11 closed

[2016-06-22 09:59] lossius opened #29 "Binaural spherical decoder : Add support for 176.4 kHz"
This is a further detailing of #20

[2016-06-22 10:00] lossius opened #30 "Spread encoder: Add support for 176.4 kHz"
This is a further detailing of #20

[2016-06-22 10:00] lossius opened #31 "UHJ encoder: Add support for 176.4 kHz"
This is a further detailing of #20

[2016-06-22 10:01] lossius commented on #20
Closing this issue, as it is now split into #29, #30 and #31.

[2016-06-22 10:01] #20 closed

[2016-06-22 10:03] lossius opened #32 "Binaural CIPIC decoder - add support for higher sample rates"
Kernels are now added to atk-kernels.

This is a follow up to #18

[2016-06-22 10:04] lossius opened #33 "Binaural Listen decoder - add support for higher sample rates"
New kernels have been added to atk-kernels, and support need to be added to the atk-reaper plugin.

This is a follow-up to #18

[2016-06-22 10:05] lossius commented on #18
This issue is further detailed in #32, #33 and #29 .

[2016-06-22 10:05] #18 closed

[2016-06-22 10:08] lossius commented on #28
I don't think it is a good idea to copy README and LICENSE to the `~/Application Support/REAPER/Effects/` folder. These two files will then show up in the window within Reaper where you select what plugin to use. I will personally experience this as undesired noise. It is better to ensure that we have license info properly provided in the header of each file.

[2016-06-22 10:08] #28 closed

[2016-06-22 11:23] #30 closed

[2016-06-22 11:23] #31 closed

[2016-06-22 11:59] #29 closed

[2016-06-22 14:15] #32 closed

[2016-06-22 14:15] #33 closed

[2016-06-22 14:56] lossius commented on #23
I finally got the time to check out this theme, and it's nice. I have one minor comment for you @mtmccrea : Would it be possible to keep the Track Envelopes/Automation button in the Mixer panel? I sometime finds that useful.

[2016-06-22 17:50] joslloand commented on #25
@lossius thanks for setting up the [new repo](https://github.com/ambisonictoolkit/atk-reaper-examples)!

[2016-06-22 17:55] joslloand commented on #28
@lossius, ok, that'll work if it shows up in the code. I was just browsing the resulting files written by the installation, and didn't see these where I'd expected.

The trick, will be to be sure that the information found in `README.md` & `License.md` are correctly echoed in the header of each file.

[2016-06-22 20:38] mtmccrea commented on #23
@lossius - I've updated the reaper theme file to include the envelope button in the mixer tracks. The updated file is [here](https://nas.dxarts.washington.edu/share.cgi?ssid=0ad7boc).

The link on the DXARTS wiki ambisonic/Reaper tutorial is also pointing to this new theme file.

[2016-06-22 21:04] lossius commented on #23
Super, thank you! I have the theme here now, and will see how I can integrate it into the installer.

[2016-06-22 21:22] mtmccrea commented on #23
Sure thing! It wouldn't hurt to do a quick test to confirm it's what you're looking for... Let me know if there are any hiccups.

[2016-06-24 11:13] lossius commented on #19
The mechanism for this is now implemented, and is used for the AmbiX encoders and decoders.

The next step will be to identify what other encoders and decoders should be refactored for this.

[2016-06-24 11:15] #10 closed

[2016-06-24 12:21] lossius opened #34 "Update planewave encoder to use counter-clockwise azimuth"
This is a detailing of issue #6

[2016-06-24 12:23] lossius opened #35 "Update Direct Transform to have counter-clockwise azimuth"
This is a detailing of #6

[2016-06-24 12:24] lossius opened #36 "Update Dominate Transform to have counter-clockwise azimuth"
Thsi is a detailing of #6

[2016-06-24 12:25] lossius opened #37 "Update FocusPressPullZoom Transform to have counter-clockwise azimuth"
This is a detailing of #6

[2016-06-24 12:25] lossius opened #38 "Update Mirror Transform to have counter-clockwise aziumth"
This is a detailing of #6

[2016-06-24 12:26] lossius opened #39 "Update all plugs to use the new library header file"
This simplifies dependences on various library files.

[2016-06-24 12:28] lossius opened #40 "Update mono decoder to have counter-clockwise azimuth"
This is a detailing of #6

[2016-06-24 12:29] lossius commented on #6
This issue is now replaced by a dedicated milestone and the above issues regarding what plugins need to be updated.

[2016-06-24 12:29] #6 closed

[2016-06-24 12:39] #39 closed

[2016-06-24 13:49] #34 closed

[2016-06-24 13:58] #40 closed

[2016-06-24 13:58] lossius opened #41 "Improve GUI for mono decoder"

[2016-06-24 17:48] joslloand commented on #19
Thanks @lossius.

The idea is to replace all _fixed_ matrices with this mechanism. That will include things like:

- AtoB
- BtoA
- fixed matrix decoders, e.g., 5.0

There are some other implications. For atk-sc3, only one side of the AtoB conversion is stored as a matrix. The other direction is calculated by pinv(). (Project is possible, if the weight is at N3D.)

The plan would be to move all the

[2016-06-25 10:38] #35 closed

[2016-06-25 10:42] #36 closed

[2016-06-25 10:48] #37 closed

[2016-06-25 11:11] #38 closed

[2016-06-25 11:51] lossius opened #42 "Add CookDSP credits and copyright notices where appropriate"

[2016-06-29 19:38] joslloand commented on #41
@lossius, I'm presuming you may also be thinking of adding an illustration of the resulting polar pattern?

[2016-06-29 19:52] joslloand commented on #42
@lossius

The [JSFX - CookDSP Library](http://ajaxsoundstudio.com/software/cookdsp/), [GitHub here](https://github.com/belangeo/cookdsp), looks like a very useful and interesting find. Among other things, using it should make certain tasks much easier. I'm just browsing the documentation now.

I wasn't seeing a use notification, but see it here, now:

[code]

Have you been in touch with Belanger?

[2016-06-29 20:07] joslloand commented on #22
With the inclusion of [JSFX - CookDSP](https://github.com/belangeo/cookdsp) resources, the addition of HP filters for _pre_ and _post_ signal conditioning should be _easy_.

I'm envisioning having the option to choose:
- **HIP**: First-order IIR highpass filter
- **BUTHP**: Second-order Butterworth highpass filter

And a `freq` argument.

[2016-06-29 20:12] lossius commented on #22
Yes, and there is also the possibility of extending CookDSP with additional DC filters. We have some filter code in JamomaCore that would be easy to port across, including one that only filters frequencies below 20 Hz.

[2016-06-29 20:12] lossius commented on #22
freq argument is a good idea.

[2016-06-29 20:18] joslloand commented on #22
For pre/post proximity conditioning, 20Hz is a good default.

In practice, touching `freq` will often be required, particularly with field recordings! My pacific ocean recordings needed lots of care here to shape: wind noise, handling noise.

If we want to _home brew_ the filters, that's not difficult... but use of JSFX - CookDSP will make things quicker to implement.

[2016-06-29 20:20] lossius commented on #42
Yes, CookDSP is compatible, and I have made a series of other plugins using it. It is really nice and elegantly programmed, if JSFX can ever be elegant...

Further down the road I might refactor parts of the library code in ATK for Reaper to be object oriented in the same way as CookDSP. This might also make it easier to implement pseudoInverse().

Another benefit that I see the potential for are

[2016-06-29 20:23] lossius commented on #22
Out of curiosity because this is often an issue for me as well: When using it for with the pacific ocean recordings, was the freq tweaking needed due to proximity, or due to general low rumbling and wind noise in the recordings themselves?

[2016-06-29 21:21] joslloand commented on #22
It was as a result of all of this. Handling noise in particular is a certain case of proximity!

[2016-07-12 18:41] tumbleandyaw opened #43 "SOFA/AES-69 import for binaural decoder?"
Is this something that could be a possibility in a future update or would this be a significant undertaking? Thanks for all the great work !

[2016-07-13 19:16] joslloand commented on #43
Hello @tumbleandyaw

Thanks for the query.

My reading of [SOFA](https://www.sofaconventions.org/mediawiki/index.php/SOFA_(Spatially_Oriented_Format_for_Acoustics)) is that one of the goals of the project is to provide a common interface to a variety of published HRIR libraries. A GitHub repo of their work for [MATLAB/Octave is found here](https://github.com/sofacoustics/API_MO). [And here](https:

[2016-07-13 19:16] #43 closed

[2016-07-18 18:32] joslloand commented on #24
Hi @lossius more discussion....

This commit shows how the plots have changed: https://github.com/ambisonictoolkit/atk-sc3/commit/4f6d2fc5d52a07f85e7a34728700a9492ef8d346

From the new Intro-to-the-ATK SCHelp:

And, from the footnotes describing what these measures are:

Pseudo-code to follow....

[2016-07-18 18:49] joslloand commented on #24
Calculating _gain_, in dB: _Potential-Kinetic Energy Mean_, aka _Soundfield Energy_

Given:
- (real) soundfield encoding coefficients*
- FuMa-MaxN encoding, [W, X, Y, Z]

*coefficients returned by planewave encoder

[code]

[2016-07-18 19:12] joslloand commented on #24
_Energy Normalised (Active) Intensity_ vector, aka _rE_

Given:
- (real) soundfield encoding coefficients*
- FuMa-MaxN encoding, [W, X, Y, Z]

*coefficients returned by planewave encoder

[code]
This pseudo-code returns a vector in cartesian coordinates. The magnitude of this vector is _quality_, aka _rE_ coefficient. Converting from cartesian to spherical coordinates is the way to return _r_ (_qu

[2016-07-18 19:29] joslloand commented on #24
And... finally, a follow-up note on how the previous plots / display are (or should have been!) generated.

_Potential Energy Normalised (Active) Intensity_ vector, aka  _(Active) Admittance_ vector, or _rV_

Given:
- (real) soundfield encoding coefficients*
- FuMa-MaxN encoding, [W, X, Y, Z]

*coefficients returned by planewave encoder

[code]

This pseudo-code returns a vector in cartesian coord

[2016-07-21 13:38] rodrigodzf opened #44 "Binaural Decoder doesn't work"
Hi,

I downloaded the reaper plugin, however, the binaural decoder doesn't seem to work.

How to replicate:
using Reaper x86_64 v5.22 - July 14, 2016.
using ATK_for_Reaper_Mac_1.0.b7

Fresh install both and use fx ATK FOA Decode Binaural. Sound comes in but nothing comes out. (I had to copy the effects folder ~/Library/Application Support/REAPER/Effects to ~/Applications/Effects because Reaper doe

[2016-07-21 17:43] joslloand commented on #44
@rodrigodzf do any of the kernel decoders work, or is it just the binaural decoder?

Can you try the UHJ decoder?

Also, were things working for you with your previous instal?

[2016-07-21 18:02] rodrigodzf commented on #44
Thank you for your answer @joslloand. I tried the UHJ Decoder and it also fails, none of the other ATK plugins fail. This is the first time I installed the ATK plugin. Also, my project settings are 44.1Khz sample rate/512 buffer size.

[2016-07-21 21:11] mtmccrea commented on #44
@rodrigodzf it sounds like you may not have the kernels in the right place. Can you confirm that you have a **kernels** folder installed in `~/Library/Application Support/ATK`.  You'll also want to check that your project settings match your hardware sample rate (which you'll find in **Preferences>Sound** or the **Audio MIDI Setup** application).

This also seems odd...perhaps a configuration sett

[2016-07-21 21:37] rodrigodzf commented on #44
I reinstalled Reaper again. On the first run after install, Reaper creates the ~/Applications/Effects and it seems that it copies the contents of ~/Library/Application Support/REAPER/Effects to that folder. All the default JS plugins work (their location points to ~/Applications/Effects/* in the editor though). I have ~/Library/Application Support/ATK and the symbolic link ~/Library/Application Su

[2016-07-24 12:54] lossius commented on #44
Hi @rodrigodzf , I'm just back from vacation.

The first issue that need to get solved here is that the plugins need to be installed in the proper location. With plugins installed to `~/Applications/Effects` I'm pretty sure that they are unable to find the kernels.

1) Can you please start out by deleting the following folders (when Reaper is not running)

    ~/Applications/Effects
    ~/Library/

[2016-07-24 18:40] lossius commented on #42
Addressed in b91a3d1fc9

[2016-07-24 18:40] #42 closed

[2016-07-24 18:42] lossius commented on #23
Addressed in 	3bffec9

[2016-07-24 18:42] #23 closed

[2016-07-24 19:14] #26 closed

[2016-07-24 21:23] lossius commented on #44
@rodrigodzf : I've upladed a new beta version now (beta 9). Please use that installer for further testing. Thanks!

[2016-07-25 07:09] rodrigodzf commented on #44
Hi @lossius, Thank you for your answer, the new version seems to work well! The bug might have been related to me not deleting `~/Library/Application Support/REAPER/` in the first place, because the `~/Applications/Effects` folder is not created on start anymore.

Thanks again!

[2016-07-25 07:09] #44 closed

[2016-07-29 07:51] lossius opened #45 "pin connection issue on Windows"
[Reported on the Reaper forum by ReaDave](http://forum.cockos.com/showthread.php?p=1712361&posted=1#post1712361):

I've received similar reports on Facebook from other users as well, but I have not been able to reproduce (or maybe understand/see/hear) the issue myself so far.

I've asked ReaDave for further details.

[2016-07-29 07:54] lossius opened #46 "Version 1.0.0b9 plugins takes long to load on Windows"
Reported on the [Reaper forum](http://forum.cockos.com/showthread.php?p=1712361&posted=1#post1712361):

The only two possible explanations I can think of that can have caused are:

1. Introduction of CookDSP dependency
2. The move of library files to a new location

On OSX I don't seem to have these problems.

[2016-08-08 19:24] frywolny opened #47 "No GUI after installation ATK 1.0.9b under OSX [solved]"
As in the subject.
Solution: delete the following folder:
~/Library/Application Support/REAPER/effects/ATK
and then reinstall ATK

[2016-08-08 19:26] lossius commented on #47
This is due to changes in location of libraries in 10.0.0.b9.

[2016-08-08 19:26] #47 closed

[2016-08-10 23:20] joslloand opened #48 "Decoding to all Reaper's supported surround formats?"
This will require:
- reviewing all supported format
- cataloguing channel order
- generating suitable matrices

We'll be able to implement this feature when matrix loading has been implemented.

[2016-08-10 23:21] joslloand opened #49 "Encoding from all Reaper's supported surround formats?"
This will require:
- reviewing all supported format
- cataloguing channel order
- generating suitable matrices

We'll be able to implement this feature when matrix loading has been implemented.

Related to https://github.com/ambisonictoolkit/atk-reaper/issues/48

[2016-08-10 23:23] joslloand commented on #49
Just a thought... we may be interested in providing a pseudo-inverse form. That's more of a _very expert_ user thing, so probably isn't necessary for the general user.

[2016-08-11 07:31] lossius commented on #48
I'm not entirely sure what this would mean. Natively Reaper mostly supports surround formats via the ReaSurround plugin. But Reaper doesn't come with standard preferred surround formats the way e.g. Logic, Cubase or Nuendo does.

IMHO it's more meaningful to see what standard surround formats exists, and ensure that we support them.

[2016-08-11 18:44] joslloand opened #50 "atk-reaper and atk-sc3 decoder/encoder channel ordering compatibility?"
@lossius

Do we want to add a drop-down menu for encoders / decoders (e.g., 5_0) to accommodate traditional Ambisonic channel ordering?

Why this would be "easy"... The required matrices will be authored and accessible from the matrices folder. I.e., there will be a set of matrices for atk-sc3 and another set for atk-reaper. The atk-reaper versions will be loadable from atk-sc3.

This question / s

[2016-08-11 18:44] joslloand commented on #48
Hi @lossius,

Actually, what I was suggesting was whether we'd like to support the surround formats found in the [ReaSurround](http://wiki.cockos.com/wiki/index.php/ReaSurround) plugin. (I see that's not clear from the issue title!) And by this, I particularly mean referencing channel order and loudspeaker position (azi, ele).

Doing so would mean that users _could_ just drop a previously authored

[2016-08-11 22:57] joslloand commented on #49
ReaSurround (Cockos) - Presets
--

Reaper's _ReaSurround_ surround panner is presented as a "hockey puck" style panner. While we haven't made any further investigations as to the algorithm used, it does appear to be a power (VBAP-style) intensity panner, with the addition of a "diffusion" parameter to add contribution by additional loudspeakers.

The tables below indicate output channels in the or

[2016-08-11 23:31] joslloand commented on #49
The two ITU documents with relevant recommendations are:

- [BS.775 : Multichannel stereophonic sound system with and without accompanying picture](https://www.itu.int/rec/R-REC-BS.775/en)
- [BS.2159: Multichannel sound technology in home and broadcasting applications](https://www.itu.int/pub/R-REP-BS.2159)

[2016-09-08 08:57] lossius opened #51 "Bug in RotationTiltTumble"
There are issues with directions in the GUI, introduced in b9.

[2016-09-08 18:27] lossius commented on #41
Yes, that has been the idea, but I don't know where I might find code that I can use for drawing it?

[2016-09-08 18:36] lossius commented on #45
witti reports on this as well in a private message, and provides additional info:

Cockos claimed to have it fixed, but plugins which are
reporting latency with pdc_delay and have more than two channels
still can crash reaper if you open the plugin-pin connector.
The problem is not the amount of channels the plugins are using in the code
but the declaration of in and out pins at the top of the cod

[2016-09-08 18:38] lossius commented on #46
witti confirms that this is related to loading all of cookdsp:

Regarding the loading time of the plugins:
I found out that your plugins are using
from the cook-dsp library only these three files:

    /* Math functions */
    import cookdsp/mmath.jsfx-inc

    /* Utility functions */
    import cookdsp/memalloc.jsfx-inc
    import cookdsp/scaling.jsfx-inc

Letting your plugins search ONLY for the

[2016-09-08 18:42] lossius opened #52 "Review reporting of latency in kernel-based plugins"
Message from witti:

Quite some time ago i tried to change the code of the js amp-modelers
to make them reporting the correct latency (in samples) they are introducing with
the different IRs. The method is not very elegant, but it seems to work and maybe it helps
to fix some problems some of your plugins have, too.

What i did was:
Getting the value which is responsible for the latency and
make a

[2016-09-08 18:50] joslloand commented on #41
@lossius, something else that might also be useful is to add keywords for common mic patterns:

pattern | virtual microphone
-------- | ----------------------
0.0 | Omni
0.5 | Cardioid
(3-sqrt(3))/2 | Super-cardioid
0.75 | Hyper-cardioid
1.0 | Bi-directional

These values are already included in the current docs for atk-sc3 mono decoder.

There is also a relationship to decoder **k**, given a unif

[2016-09-08 19:17] joslloand commented on #41
Also... doing a polar plot of the resulting pattern is relatively trivial. It just depends on how fancy we want to get. If we just want to illustrate the resulting polar pattern, in the form found here:

![2D mic patterns](http://www.telefunken-elektroakustik.com/images/gfx/mic_patterns.gif)

I.e., without illustrating orientation, it is just a simple matter of using the pattern value to calculate

[2016-09-08 19:25] #46 closed

[2016-09-08 19:41] lossius commented on #41
Thanks, @joslloand

I'll go with the formula that you write in the first of your comments. I believe it is straight-forward to combine this with also displaying the angle that the mic is pointing towards, I'll be able to do that.

And I can see that it might be worthwhile considering this for the stereo decoder as well.

Reaper have no support for 3D animation, so the more fancy ones are out of re

[2016-09-09 07:03] lossius opened #53 "Direct transform"
Rotational angle is incorrect in b9

[2016-09-09 07:06] lossius opened #54 "Dominate transform angle issues"
introduced in b9

[2016-09-09 07:07] lossius opened #55 "FocusPressPushZoom angle issues"
Introduced in b9

[2016-09-09 07:11] lossius commented on #55
False alarm, it is correct, but I forgot that I had a mirroring plugin further down the effect chain.

[2016-09-09 07:11] #55 closed

[2016-09-09 07:11] lossius commented on #54
False alarm, it is correct, but I forgot that I had a mirroring plugin further down the effect chain.

[2016-09-09 07:11] #54 closed

[2016-09-09 07:11] lossius commented on #53
False alarm, it is correct, but I forgot that I had a mirroring plugin further down the effect chain.

[2016-09-09 07:11] #53 closed

[2016-09-09 07:17] lossius opened #56 "Encode Stereo has left and right mixed up"
Might have been introduced in b9, or it might have been there for much longer

[2016-09-09 07:43] #56 closed

[2016-09-09 07:45] lossius commented on #51
Blue knob in GUI behaves correctly, but displayed rotation as well as DSP rotation rotates in the wrong direction.

[2016-09-09 07:49] lossius commented on #51
Ouch, the slider has not been updated in b9 to have positive azimuth to the left.

[2016-09-09 07:50] lossius commented on #51
Having fixed the slider, it remains to fix the blue dial, both in terms of where it is displayed, and where it looks for mouse interaction.

[2016-09-09 07:57] #51 closed

[2016-09-12 09:27] lossius commented on #45
The pin issue on Windows is believed to be caused by Reaper, not my plugins, and there are indications that it might be fixed in the upcoming Reaper 5.25 incremental release. For the time being, I'll wait and see, and I won't do any changes for my upcoming b10 release.

[2016-09-14 12:07] lossius opened #57 "azimuth parameters + automation or parameter modulation = broken"
Automation produce audible glitches when passing the -180/+180 threshold.
Parameter modulation doesn't work at all.

This issue shows up in parameters that their range inverted (so higher parameter value to the left on sliders), which is only the case for azimuth angle in a number of plugins.

Both issues are believed to be issues with Reaper rather than the ATK plugins. The issue has been reporte

[2016-09-14 20:08] joslloand opened #58 "Support RIR encoding"
See also this atk-sc3 issue: [Integrate Isophonics Room Impulse Response Data Set](https://github.com/ambisonictoolkit/atk-sc3/issues/37)

Would also require an issue at https://github.com/ambisonictoolkit/atk-kernels to implement.

[See also: Reaper ATK screencast : Encode mono - part II (Advanced) ](https://github.com/ambisonictoolkit/ambisonictoolkit.github.io/issues/27)

[2016-09-14 20:09] joslloand commented on #58
In the short term, a convolver where the user can load an "external" RIR from a file browsing menu would probably be the way to go.

[2016-09-14 20:13] joslloand commented on #57
This is probably a result of the parameter smoothing....

One possibility could be to do some internal wrapping of the values?

[2016-09-14 20:23] lossius commented on #57
It used to work fine and it still works fine when controlled from the GUI, so I'm pretty sure this is a problem with Reaper, not ATK plugs.

[2016-09-14 20:25] joslloand commented on #57
Ah.. sounds like a Reaper problem then!

[2016-09-14 21:14] lossius commented on #58
Reaper JSFX does not support file browsing menues. Files need to be provided in the Reaper/Data folder in a fairly specific way in order to show up in a parameter pop-up menu, and that's the only way of doing this. So it's kind of fixed and limited.

[2016-09-26 02:33] trebacze opened #59 "Reaper: add a 7.1 decoder"

[2016-09-26 17:39] joslloand commented on #59
An AllRAD+ style decoder would be a good choice.

Support via: https://github.com/ambisonictoolkit/atk-matrices/issues/6

[2016-10-06 13:50] lossius opened #60 "RotateTiltTumble Transform with quarternions parameters"
Bo is requesting a sister plugin to the current RotateTiltTumble transform with quarternians for parameters, making it more straight-forward to use with head-trackers.

[2016-10-06 17:12] mtmccrea commented on #60
If it's helpful, I have some SC code that does this. The main aspect is getting the quaternion to Euler:
`
	// From Varesano: See Sebastian O.H. Madwick report
	// "An efficient orientation filter for inertial and intertial/magnetic
	// sensor arrays" Chapter 2 Quaternion representation

	asEuler {
		var q, euler = Array.newClear(3);
		q = this.coordinates;

		euler[0] = atan2( (2 * q[1] * q[2]) -

[2016-10-06 19:51] joslloand commented on #60
Might it be useful to maybe add a setting to the RTT to allow it to accept Quaternions as controls?

Or as a separate plugin called _RTTquat_?

My first feeling would be just adding a switch. In a Reaper context, this would probably cause the least confusion for users.

[2016-10-06 20:21] mtmccrea commented on #60
While it could be a switch, I see the advantage of a separate plugin is that it's explicit that the rotate, tilt, tumble are moving opposite the actual input values (the movement is counter to the head movement), and also allows a variation how it's visualized.

On further thought, if we're allowing input of sensor directions (either as euler or quaternion), it would be worth having an input mode

[2016-10-10 22:27] Atavic opened #61 "Differences in repo and ATK site."
What's the difference between the releases provided here and the releases in [ Ambisonic Toolkit website](http://www.ambisonictoolkit.net/)? I ask this because I can't get the whole file from dropbox (it drops before getting the whole file).

[2016-10-22 05:24] rclough opened #62 "drawbackgroundimage() causing issues"
Hello,

i recently upgraded from b6 to b10,and the GUIs fail to draw because reaper JS is complaining with the error:

[code]

I couldn't find any documentation online about this function, so I tried commenting out this part of the code and it seems to make the code work, but I imagine I'm missing something?

[2016-10-22 05:46] rclough commented on #62
perusing the code some more, I found the included library that contains the function, it seems indeed there is only one definition,

[code]

I'm not super familiar with reaper JS syntax, but this seems to me like it takes no argumentsso I'm not sure why reaper would complain that it expects 6 args? later in the code there is this commented out bit that seems to use 6 args though:

[code]

at this

[2016-10-22 05:53] rclough commented on #62
Figured it out!

It seems at some point, the library went from using `.../Effects/ATK/FOA/lib/..."  to ".../Effects/ATK/Libraries". When I updated to b10, I had both folders. Once I deleted the old "lib" folder, everything went back to working again.

Quickly looking on the changelog, I didnt see any note about this, so in case anyone else encounters the issue, I hope this helps

[2016-10-24 10:03] lossius commented on #62
Hi, I discovered in the aftermath of the release, and have fixed this for future releases, so that older installs are automatically deleted on mac when doing a new install.

Cheers!

[2016-10-24 10:03] #62 closed

[2016-10-24 10:04] lossius commented on #61
The versions here are auto-generated when I tag the repository. The releases from the website are the ones to look for. Plkease try using a different browser, or clear the cache. Hopefully that will help.

[2016-10-24 10:04] #61 closed

[2016-11-30 20:33] joslloand opened #63 "HOA: Consider variable Order argument for HOA plugins"
Suggested by Enda Bates:

[2017-02-15 04:45] mtmccrea opened #64 "DirectO: consider adding negative angle parameter"
There are some cases in which it's useful to use a negative angle value in DirectO, which has the effect of increasing the perceptual weight of the first order, "directional" components (by reducing the omnidirectional component). Beyond a certain point the coherence of the image breaks down, but it can be useful if used in subtle ways. Currently the slider has a minimum of 0, though you can manua

[2017-02-20 06:53] mtmccrea opened #65 "Decoder 'k' for Panto decoder?"
This is first a question: what type of decoding is used in the ATK-Reaper pantophonic decoder?

The[ ATK-sc3 has a flag](http://doc.sccode.org/Classes/FoaDecoderMatrix.html#decoder%20k) to specify among types of decoding:

- strict/velocity
- energy/single
- controlled
- dual

It would be good to note which of these types of decoding is used in the panto decoder plugin, and, even better, select be

[2017-03-11 01:07] nbk16 opened #66 "Mac Installer Issue"
I am trying to install the AKT for Reaper 1.0b10 for Mac but it did failed.
Installation start fine but failed at installing into place.
I will love to use it for a project. Any suggestion to make it work?
thanks

[2017-03-14 18:57] joslloand commented on #66
What version of MacOS are you running?

@lossius do you have any advice?

[2017-03-15 07:55] lossius commented on #66
Hi @nbk16 , are you able to provide further detail regarding how it failed?

* What version of Mac OS are you at?
* What error message(s) do you see?
* What are your settings for System Preferences > Security & Privacy > General > Allow apps downloaded from

Can you please try changing the latter to "Anywhere" and re-run the installer, and see if that helps? The installer is not code-signed with A

[2017-03-15 14:17] nbk16 commented on #66
Thanks for the reply

I mac 27 Late 2013-Mac OS Yosemite 10.10
3.5 Ghz intel core 3 -16 GB 1600 mhz DDR3
System preference set for Allow apps download from anywhere
using Reaper V 5.35/64 (still in eval time)
 Double click the mpkg it open fine with installer start the install fine but at summary it show message The Installation Failed
installer encountered an error that caused the installation to

[2017-03-27 04:39] hectorC opened #67 "Binaural and UHJ not working under ReaJS VST (Windows)"
I'm trying to get the ATK plugins to work in Max 7 (Windows 10) using ReaJS VST. Most of them seem to work except for binaural and UHJ decoding. I also tested by loading ReaJS VST inside Reaper and the result was the same as in Max: there's no audio output and the ear images are not refreshed. Is this probably due to a path issue that works differently in ReaJS VST? In Reaper, using the standard J

[2017-03-27 08:37] lossius commented on #67
I assume that you are on Windows? I'm on mac myself, but that shouldn't stop us from getting this sorted out.

The first step is to get this working in Reaper. The images for the binaural plugin, as well as all the kernels used for convolutions (used by UHJ encoding and decoding, binaural decoder, and by the the spreader, diffuser and SuperStereo encoders) resides in the Data folder. To me it soun

[2017-03-27 08:48] lossius commented on #66
I'm not sure what's causing this. I'm on El Capitan myself, so I'm unable to test the installer with Yosemite here, unfortunately. If you have log files, that would be useful.

Alternatively you can download the Windows installer instead. This is a zipped folder with manual instructions for how to manually install the required files, and they can be installed the same way on Mac.

[2017-03-27 15:19] hectorC commented on #67
Hi Trond,

Thank you for your help. Yes, I'm in Windows. I installed the ATK plugins following the instructions and the kernels are in the Data folder (inside the ATK folder). The plugins work fine when loaded in Reaper using the JS plugin directly but fail to work when loaded via the ReaJS VST plugin (which I'm trying to use in Max/MSP).

[2017-03-27 19:00] joslloand commented on #67
Hmm... I didn't realize Cockos had the [ReaPlugs VST FX Suite](http://www.reaper.fm/reaplugs/). It does say there is support for ReaJS plugins on that page.

Do the "in built" Reaper JSFX plugins work in Max/MSP with the ReaJS VST plugin?

[2017-03-27 19:11] hectorC commented on #67
Thanks Joseph. Yes, actually on the front page of this repo (readme.md) the ReaPlugs and ReaJS VST are mentioned. Yes, the other JSFX plugins work fine in ReaJS and Max/MSP. The other ATK plugins (seems that the ones not requiring kernels) work fine too. I will try later today to set the kernel paths inside the ATK JS code to absolute paths and see if that fixes it.

[2017-03-27 19:14] joslloand commented on #67
Ah... if everything else works, sounds like its a path thing....

[2017-03-27 23:57] nbk16 commented on #66
hi Lossius
I was finally able to install by using the laptop (same as the imac Yosemite) It did install and i copy the folder ATK and transfert back to the i mac . The only difference was that  i did not have reaper on it. I did reinstall reaper on the imac as a remote and put the ATK folder on the FX folder seems fine they show as JS plug in.
Right now i'm running with another issue that look lik

[2017-03-28 00:01] nbk16 commented on #67
HI just to let you know the same issue exist for me on Mac and the last days update for reaper
natalie

[2017-05-23 14:06] nancynelma opened #68 "HRTF Binaural"

[2017-05-23 19:44] joslloand commented on #68
Have a look at the [README](https://github.com/ambisonictoolkit/atk-kernels#decoders) for the decoder kernels. Here there is a discussion of the HRTF decoders for the ATK.

The [CIPIC HRTF database](http://interface.cipic.ucdavis.edu/sound/hrtf.html) provides two KEMAR dummy measurements. subjectID = 21 is the large pinnae dummy and subjectID = 165 is the small pinnae dummy.

You may like to revie

[2017-05-23 19:44] #68 closed

[2017-05-24 07:52] lossius commented on #68
Hi, @nancynelma - addint to @joslloand 's reply above, most of the CIPIC decoders display a photo of the head used for the measurement. This might help you find an ear that resembles your own. The spherical HRTFs are size-dependent, starting with the smallest and progressing towards the largest (9). Try them out taking your own head size into account and listen to judge for yourself which one work

[2017-07-27 19:58] joslloand commented on #4
The current implementation can be [found here](https://github.com/ambisonictoolkit/atk-reaper/blob/master/plugins/libraries/atk/atkMatrixLibrary.jsfx-inc#L525).

Note, this returns a weighted matrix that isn't strictly correct for ideal decoding.

[2017-12-27 22:51] ThomasHelzle commented on #67
I want to chime in here since I encounter the same issue: The ATK works splendid (THANK YOU!) in Reaper 5.7 on Windows 8.1 x64, but I can't get any of the plugins using kernels to work in the ReaJS VST, while all other Reaper scripts work fine in ReaJS here. There is no audio out, even though I have set my ReaJS plugin to four inputs and 6 outputs in the config file (doing only Level 1 Ambisonics)

[2017-12-28 16:39] ghost opened #69 "Suggestion for the Tutorial Videos/Website"
Hey,

I recently found the Reaper ATK and really love it.
In the tutorial videos you are using the Harpex plugin for visualisation. Now this plugin is very expensive and by accident I stumbled over the Waves "Nx – Virtual Mix Room over Headphones" Plugin:
https://www.waves.com/plugins/nx
This tool also supports an first order ambisonic visualisation mode:
![nx-ambi](https://user-images.githubuserc

[2018-02-19 13:27] charbwoy commented on #67
**Fix for OSX**
I ran into the same problem as nbk16 and discovered that the alias to ~/library/application support/ATK hadn't been created correctly. I tried to create an alias though the Finder but that didn't work either.

The plugins passed audio only after copying the ATK folder directly to the Data folder inside Reaper's resource path.

It maybe worth mentioning that i'm running 10.10.5 on t

[2018-05-06 23:51] woolgathering opened #70 "Build with Linux"
I'm interested in using ATK for REAPER for Linux. It would be helpful to have a README on how to compile the source with Linux. Does there already exist a way?

[2018-11-01 02:22] cdbzb opened #71 "various problems!"
( this is a duplicate - I left this at the end on another thread in error )

Hi there - I am running Mac Sierra and the most recent REAPER pre-release.

the binaural decoder does not pass audio
also the mono diffusor encoder does not pass audio

the installer fails (I was able to get some a partial instqallation by inspecting the installer contents and installing the package in the Contents folder

[2018-11-02 21:05] lossius commented on #66
Hi @cdbzb I suggest you download the Windows installer and follow the install inastructions for that instead. That works just as well on Mac, the Mac installer is just ment to make ti a bit easier, but it might sound like it's not managing to do so any longer...

[2018-11-02 21:08] lossius commented on #71
Hi @cdbzb , your probblem has to do with the impulse respponses (kernal files) not being found by the plugins that depend on convolutions. My guess is that also no images show up nin the GUI of the binaural decoder. If you download the window installer instead and follow those instructions, you should be fine.

[2018-11-02 23:49] joslloand commented on #66
As reported by @lossius the issue (https://github.com/ambisonictoolkit/atk-reaper/issues/71) you're experiencing has to do with the with a failure to find the required kernal files (FIR filters) for the plugins which need them.

You could try to manually install these.

See: https://github.com/ambisonictoolkit/atk-kernels

[2018-11-03 02:28] cdbzb commented on #71
yes that solved it. thank you!

[2018-11-03 02:28] #71 closed

[2019-12-09 20:05] lossius commented on #63
This is a very good point. The IEM plugins are good examples of this kind of design.

 I am moving this to a wiki page, as this is more a design concern than a simple and singular task to do, and close this issue.

[2019-12-09 20:05] #63 closed

[2019-12-09 20:06] lossius commented on #45
I have not received further reports on this for several years, so closing.

[2019-12-09 20:06] #45 closed

[2019-12-09 20:17] lossius opened #72 "Port AtoB encoder to AmbiX"

[2019-12-09 20:18] lossius opened #73 "Port BtoA decoder to AmbiX"

[2019-12-09 20:24] lossius commented on #7
Moving this info to the wiki, and closing this issue.

[2019-12-09 20:24] #7 closed

[2019-12-09 20:26] lossius commented on #8
Moving this info to wiki page.

[2019-12-09 20:26] #8 closed

[2019-12-09 20:28] lossius commented on #21
Moving to wiki, closing this issue

[2019-12-09 20:28] #21 closed

[2019-12-09 20:34] lossius commented on #24
Closing this issue, as info is moved to Wiki. Not all of the discussion has been moved to the wiki, but it is pointing back here for further info, and that info remains accessible even if the issue is closed.

[2019-12-09 20:34] #24 closed

[2019-12-09 20:35] lossius commented on #27
Moving to wiki, closing this issue.

[2019-12-09 20:35] #27 closed

[2019-12-09 20:39] lossius commented on #52
Moving this to wiki

[2019-12-09 20:39] #52 closed

[2019-12-09 20:40] lossius commented on #57
This issue comes up when using interpolations between automation points in Reaper. the solution is to not do so.

[2019-12-09 20:40] #57 closed

[2019-12-09 20:43] lossius commented on #69
I would rather recommend the Audio Ease 360 plugins as they also support higher order. Thanks for the suggestion though. Closing this issue.

[2019-12-09 20:43] #69 closed

[2019-12-10 07:47] lossius opened #74 "Update cookdsp dependency to v. 0.4"

[2021-09-23 01:10] gsenna opened #75 "Small bug in ATK FOA Decoder Psycoshelf"
Hi,

Should line 94 of the ATK FOA Decoder Psycoshelf read as

`wc = tan($PI * mFreq * inverseSamplesblock);`

instead of

`wc = tan(pi * mFreq * inverseSamplesblock);`

?

Thanks!

[2021-09-23 01:24] joslloand commented on #75
@lossius, the line in question: https://github.com/ambisonictoolkit/atk-reaper/blob/master/plugins/FOA/Decode/PsychoShelf#L94

[2021-09-23 01:24] joslloand commented on #75
compare with: https://github.com/ambisonictoolkit/atk-reaper/blob/master/plugins/FOA/Transform/NearfieldProximity#L126

[2021-09-23 01:32] joslloand opened #76 "Speed of Sound"
Currently Proximity / NFC, speed of sound = 333.0 m/s --> freq = 53.0

Update to 343.0 m/s --> freq = speedOfSound / 2pi --> freq = 54.59014548052

See [this issue](https://github.com/ambisonictoolkit/atk-sc3/issues/104).

Line to update: https://github.com/ambisonictoolkit/atk-reaper/blob/master/plugins/FOA/Transform/NearfieldProximity#L125

[2021-09-25 02:07] gsenna commented on #75
Hi,

Thanks for the quick reply. Another issue seems to be that the filter becomes unstable depending on the `samplesblock` used. 128 works, but with values like 256 and 512 the amplitude blows up.

[2021-10-26 19:26] joslloand opened #77 "JSFX decoders - typos in number specifications"
Hello,

We are in the process of making JSFX a little more strict in terms of
how numbers are specified. Can you apply this very minor change to your
awesome plug-ins? Thanks!

Justin

[2021-11-01 09:50] #77 closed

[2021-11-01 09:50] #74 closed

[2021-11-01 09:50] #76 closed

[2021-11-01 10:00] lossius commented on #17
These plugins are no longer needed, as their original use is fully covered by the WigWare Multi-chanel Peak VU Meter JSFX plugin that now comes bundled with Reaper.

[2021-11-01 10:02] #17 closed

[2021-11-04 08:37] lossius opened #78 "ATK FOA Decoder Psycoshelf bug - Filters are unstable"
Having addressed issue #75, the filter is more unstable than ever. It now blows upon load and also whenever freq > approx—500 Hz.

I make this a separate issue while closing #75.

[2021-11-04 08:37] lossius commented on #75
I set up a new issue #78 to address the instability, and close this one.

[2021-11-04 08:37] #75 closed

[2021-11-04 08:38] lossius commented on #78
Comments from @joslloand

The line in question: https://github.com/ambisonictoolkit/atk-reaper/blob/master/plugins/FOA/Decode/PsychoShelf#L94

compare with: https://github.com/ambisonictoolkit/atk-reaper/blob/master/plugins/FOA/Transform/NearfieldProximity#L126

[2021-11-04 09:02] lossius commented on #66
Closing this issue.

[2021-11-04 09:02] #66 closed

[2021-11-04 18:09] joslloand commented on #66
@lossius, I'm presuming this issue resolved by the new installer?:

Version 1.0 beta 11
Released 2021-11-04

[2021-11-04 19:10] lossius commented on #66
Hi,

I have tested the new installer on two separate macs, one running Big Sur and one running Monterey, and it works well om both.

Some of the above reported issues might have to do with security settings, as we do not code sign the installer. But even this seem to work better with the new installer. There are also some reports that seem to be caused by kernels not being properly installed.  If

[2021-11-04 19:20] joslloand commented on #66
Great! Good to know!

[2021-11-13 09:43] lossius opened #79 "Add support for Retina in all plugins with graphics"

[2021-11-13 09:46] lossius opened #80 "Only redraw when required"
Set `gfx_clear=-1`  and ensure that graphics are only redrawn when actually needed.

[Further details are provided in the wiki](https://github.com/ambisonictoolkit/atk-reaper/wiki/Graphic-Enhancements)

[2021-12-13 21:35] #79 closed, assigned to lossius

[2021-12-13 21:35] #41 closed

[2021-12-14 07:21] lossius opened #81 "Indicate that plugins use the FuMa format"
Add display notification that the plugins currently use FuMa. In the AmbiX milestone, this will be changed to AmbiX.

[2021-12-14 07:22] lossius opened #82 "Warning when an insufficient number of channels"
Provide feedback to the user when a track is set up with an insufficient number of channels

[2021-12-14 07:23] lossius opened #83 "Should encoders, transforms and decoders have different background colours?"
Consider to use different background colours for the different kinds of plugins:

- Encode => Red
- Transform => Green
- Decode => Blue

All variations should be darkish and discrete.

[2021-12-14 07:24] lossius opened #84 "Indicate channel assignments in encoders"
These plugins (Quad, 5_0, etc.) will be more user-friendly if it is clear from the GUI how the channel assignments are set up.

[2021-12-14 07:25] lossius opened #85 "Review mouse action in small interfaces"
With Reaper 6 it is possible to add JSFX GUIs to Track or Mix panels. This is very attractive with ATK, as the user then can monitor and interact with encoders and transforms from track panels or the mixer. The GUI is pretty small when embedded within these panels. Do we want to implement a way of fine-tuning parameter values in the GUI when it is small?

[2021-12-14 07:28] lossius opened #86 "Add loudspeaker polarity indicator to decoder GUIs"
@lossius in relation to the GUI enhancement #9, (RMS) levels are now displayed for loudspeaker feeds.

Add an indicator to illustrate the average polarity of channel output feeds. This is "easily" calculated. E.g.:

`polarityLF = TimeAverage(LF * W)`

By monitoring the polarity of `polarityLF` we can determine whether the average signal presented at `LF` is "in phase" or "out of phase" with W. Thi

[2021-12-14 07:29] lossius opened #87 "Update GUIs for FOA Transforms"
Update the indication of perceived localization focus from _|rV|_ to _|rE|_.

Mapping to _|rE|_ offers a stronger sense of how localized an encoded planewave will appear after transform.

This change will require an update to the figures presented in the documentation for [atk-sc3](https://github.com/ambisonictoolkit/atk-sc3).

To implement will require a brief conversation with @lossius as to det

[2021-12-15 12:29] rellimneb opened #88 "BToAmbix not working"
no sound comes through.  I think it can't find  files "acn-sn3d.mosl.txt" and "acn-n3d.mosl.txt"

[2021-12-20 14:27] #81 closed, assigned to lossius

[2021-12-20 17:42] lossius commented on #83
Yes, they should. Looks good.

[2021-12-20 17:42] #83 closed, assigned to lossius

[2021-12-20 21:33] joslloand commented on #88
What operating system are you on?
What version of Reaper?
Are you using the latest atk-reaper?

[2021-12-21 09:54] rellimneb commented on #88
Osx catalina
Reaper 6.42
Latest version of ATK from the installer from the website

On December 20, 2021 10:34:11 PM GMT+01:00, Joseph Anderson ***@***.***> wrote:

[2021-12-26 10:42] lossius commented on #84
To complete this issue, I will need to redo GUI for the Periphonic3D encoder. However, that will bring the design of the Periphonic 3D encoder closer to the Periphonic 3D decoder, which is probably a good thing.

[2021-12-29 15:37] lossius opened #89 "Interaction circle hovering"
The plugins are somewhat inconsequential whether interaction circles light up or not on click or hovering. The planewave encoder is an example of a plugin where the interaction circle does not respond visually to mouse hovering or click.

I need to check all plugins for this before closing this issue.

[2021-12-29 15:39] lossius commented on #89
Having tested all plugins on the master branch, the planewave encoder is the only one where I have forgotten to implement this.

[2022-01-01 18:52] #89 closed, assigned to lossius

[2022-01-01 18:52] #80 closed, assigned to lossius

[2022-01-22 19:52] #82 closed, assigned to lossius

[2022-01-23 09:26] lossius opened #90 "Hide meters in all plugins"
As the default in and out meters are stereo only, they are of limited use in these multichannel plugins. They can be hidden using:

`options:no_meter`

[2022-01-23 09:34] #90 closed, assigned to lossius

[2022-01-23 15:43] lossius opened #91 "Indicate when a plugin is bypassed"
I envisage an orange warning, similar to the red when to few channels.

When a plugin is bypassed, `num_ch = 0`. It's easy to test for, and the code can be implemented between `testNumChannels()` and `drawChannelWarning()` in `atkGraphicsLibrary.jsfx-inc`

[2022-01-23 18:30] lossius commented on #85
This turned out to be less about mouse behaviour and more about responsive design adapting for differing sizes. Will commit code in a few hours, bt the issue is resolved.

[2022-01-23 18:30] #85 closed, assigned to lossius

[2022-01-23 21:03] #91 closed, assigned to lossius

[2022-01-24 18:48] #84 closed, assigned to lossius

[2022-01-24 19:14] joslloand commented on #88
@lossius, perhaps the installer isn't including the matrix files?

[2022-01-24 19:31] lossius commented on #88
@rellimneb : This seems to be an install problem. Please download the Windows installer and follow the instructions there    (It works on macOS as well )  This should solve it for you.

I'll close this issue.

[2022-02-02 21:50] lossius commented on #86
<img width="622" alt="Screenshot 2022-02-02 at 22 42 52" src="https://user-images.githubusercontent.com/38478/152242220-3e71bc20-5647-414c-a05a-990fbe095db1.png">

@joslloand I now have a working prototype of this for the Quad decoder. Before going further it would be useful to understand better how you interpret this information. Is a reversed polarity something that is generally not desired (con

[2022-02-02 23:25] joslloand commented on #86
@lossius No, inverse polarity is _an important part_ of how things actually work. With basic (aka velocity) decoding, the opposite loudspeakers have inverse phase. This is the "pulling" opposed to the "pushing" of the speakers in the source direction, and increases the length of the velocity vector to 1.0, matching that of a real source.

For energy decode, the inverse "tail" is reduced, concentra

[2022-02-03 01:33] joslloand commented on #86
Whoops, the figure of interest is: Fig. 4.8 Directivity patterns of various ambisonic decoding schemes

[2022-02-14 03:24] muziker opened #92 "mMatrixDSP.matrix_read_from_file doesn't seem to read from file in linux"
I was trying out AmbiXtoB, and the mMatrixDSP.cell it was reading was empty. The strcpy was pointing to files that were in "ATK/matrices/FOA/encoders/acn-*" but these files are in "ATK/matrices/FOA/encoders/hoa1".

Because the files appear in both the encoders and decoders directories, and the header section in the files doesn't say " X format encodes into Y format" or "Y format decodes into X for

[2022-02-14 20:02] joslloand commented on #92
In the ATK's naming convention:
-  _encoding_ means convert _some format_ to _FOA_
- _decoding_ means convert _FOA_ to _some format_

Here's a review of the [naming conventions](https://depts.washington.edu/dxscdoc/Help/Tutorials/ABCs-of-the-ATK.html#Ambisonic%20formats) used by the ATK. (This is for the SuperCollider version.)

Both the encoding and decoding folder should have corresponding "form

[2022-02-18 16:09] lossius commented on #86
@joslloand

Thanks for your feedback.

I'm closing this issue now as the feature is implemented, but two issues occur to me to consider further:

1) We might have to do a proper quality check on all decoders. I see some inconsistencies in the 5_0 decoder.
2) None of the decoders apart from the (regular) stereo have any options to adjust mic patterns. If this is a feature that ought to be available

[2022-02-18 16:09] #86 closed, assigned to lossius

[2022-02-18 19:27] joslloand commented on #86
Hello @lossius, yes to both of these.

There are some inconsistencies and quality issues. I'd also say there are short term and long term things to consider. @mtmccrea has expressed an interest in reviewing these... which should probably go into another thread / discussion.

The answer to this is, _mic patterns_ should not be a "direct" option. Instead, the classic Ambisonic _beam patterns_ should

[2022-02-19 19:44] lossius commented on #87
I have looked into this further. What is currently indicated in the plugin GUIs is neither _|rV|_ nor _|rE|_ but rather degree of directedness (normalsed to `[0, 1]` ), calculated according to how it is done in the Direct transform:

`Directedness = 1 - 2 / PI * asin( ( 2 * W^2 - X^2 - Y^2 - Z^2 ) / ( 2 * W~2 + X^2 + Y^2 + Z^2 ) ) `

The calculations behind this can be found in our 2014 ATK SMC/IC

[2022-02-20 19:57] lossius commented on #87
Some further development and testing today. Trying to visualise Directedness, rE and rV differently in order to make it more apparent to the user what mode of display is currently used (without having to always double-check the last (new) slider.

Here is a screenshot showing Focus and Push using all three display modes. Any thoughts on this, @joslloand ?

<img width="1419" alt="Screenshot 2022-02

[2022-02-20 20:19] lossius commented on #87
And the Direct plugin

<img width="1741" alt="Screenshot 2022-02-20 at 20 18 48" src="https://user-images.githubusercontent.com/38478/154862667-788202c7-181d-4610-87c3-ed452bfbc260.png">

[2022-02-20 21:55] mtmccrea commented on #87
Nice to see some more details added to the displays!
If you'd like to see a few other ideas, I implemented a number of extra features in the `atk-sc3` utility [FoaXformDisplay](https://github.com/ambisonictoolkit/atk-sc3/blob/94b336028ec30434fb97750886ceb239a88790fc/Classes/FoaXformDisplay.sc) ([docs](https://depts.washington.edu/dxscdoc/Help/Classes/FoaXformDisplay.html)), which was in fact inspi

[2022-02-21 17:36] lossius commented on #87
Thanks, @mtmccrea .

The SuperCollider GUI looks awesome. I have given this some thought and will go a slightly different route, responding to your points above:

1. I believe I found a reasonable value for this when I first designed the plugins, and it has never bothered me much since then, so I'll leave it as is.
2. This I really like and will adapt.
3. This looks nice in your GUI. In my plugins

[2022-02-21 21:22] #87 closed, assigned to lossius

[2022-02-21 21:24] lossius commented on #88
Reopening this issue, as I am able to duplicate with the MacOSX installer. I suspect that the matrixes used for AmbixToB and BtoAmbiX are not properly making it into the installers.

[2022-02-21 21:54] lossius commented on #88
This issue is caused by the following commit in atk-matrices:

[2022-02-21 21:55] lossius commented on #88
This issue is caused by the following commit in atk-matrices:

https://github.com/ambisonictoolkit/atk-matrices/commit/ec88956633f2bf02fa5981ba843c4be91ebd0b9d

@joslloand : What files have replaced these ones?

[2022-02-22 08:43] lossius commented on #88
This issue is a duplicate of #92 I'll close this and further address it as #92 instead, as that issue has some additional information for further debugging.

[2022-02-22 08:43] #88 closed, assigned to lossius

[2022-02-22 08:47] lossius commented on #92
#88, reported by @rellimneb is a duplicate of this issue. As mentioned there, this issue probably occurred as a consequence of the following commit in atk-matrices:

https://github.com/ambisonictoolkit/atk-matrices/commit/ec88956633f2bf02fa5981ba843c4be91ebd0b9d

This commit removed the matrices that the AmbiXtoB and BtoAmbiX plugins look for. As they have stayed behind in my own personal ~/librry

[2022-02-22 11:31] lossius commented on #92
In the process of addressing this, I discovered an issue with reading text files if a comment line contains a comma. We either need to ensure that we have no commas in `*.mosl.txt` files, and/or this needs to be addressed in Reaper.

[2022-02-22 20:04] joslloand commented on #24
@lossius, yep... you're right, the admittance calc was missing a reciprocal. It should be:

`
active_admittance_vector = (1 / pow(2, 1./2)) * [X, Y, Z] / W
`

What we want is _velocity vector_ / _pressure_ OR the equivalent (_velocity vector_ * _pressure_) / _pressure squared_

[2022-02-22 20:06] joslloand commented on #87
@lossius

Yep, this is correct! Sorry for the typo!! Fixed in reference: https://github.com/ambisonictoolkit/atk-reaper/issues/24#issuecomment-1048166349

[2022-02-22 20:58] joslloand commented on #92
Ok, having had a look, [Remove redundant hoa1 matrices](https://github.com/ambisonictoolkit/atk-matrices/commit/ec88956633f2bf02fa5981ba843c4be91ebd0b9d) was made within the context of development towards the HOA version of atk-sc3.

What we're seeing is a framework divergence problem, the divergence between atk-sc3's format of HOA as

- acn-n3d (ref radius = 1.5m)

and atk-reaper's (evolving) for

[2022-02-22 21:00] joslloand commented on #92
Forgot to answer... atk-sc3 generates the required coefficients on the fly now. That's why these files were removed, to remove conflict with the atk-sc3 coefficient synthesis.

UPDATE: the matrices were moved to a new location.. atk-sc3 uses these in their new locations. More details below..

[2022-02-23 15:18] lossius commented on #24
Tbnaks, @joslloand. Good to have that confirmed.

[2022-02-23 16:55] lossius opened #93 "Testing upcoming release on Windows"
Spent time testing on Windows. Most seem to work fine, but I notice two issues:

- Binaural decoder does not seem to work properly, and when attempting to change HRTF profiles there is not much noticeable difference
- Mono decoder: When åaying with the interaction circle in the interface not much seem to happen. Operating the saliders work as expected.

[2022-02-23 20:43] joslloand commented on #93
Just windows?

[2022-02-23 22:05] lossius commented on #93
I have to test further back on macOS , but assume  to see the same there.

[2022-02-23 22:18] joslloand commented on #14
NOTE: this is the beam pattern choice

[2022-02-24 01:05] joslloand commented on #92
@lossius, to fix this issue we just need to update where atk-reaper looks for the various hoa1 files.

These are found:

- https://github.com/ambisonictoolkit/atk-matrices/tree/master/FOA/decoders/hoa1
- https://github.com/ambisonictoolkit/atk-matrices/tree/master/FOA/encoders/hoa1

The files weren't removed, they were just moved. (This didn't happen all in one commit, for some reason.)

They had

[2022-02-24 20:11] joslloand commented on #92
For instance, [these lines](https://github.com/ambisonictoolkit/atk-reaper/blob/master/plugins/FOA/Decode/BtoAmbiX#L61-L70):

[code]

Will need to be updated to:

[code]

And [these lines](https://github.com/ambisonictoolkit/atk-reaper/blob/master/plugins/FOA/Encode/AmbiXtoB#L61-L70):

[code]

To:

[code]

I'll make a new branch, make the changes. @lossius, you can have a look to confirm this reso

[2022-02-24 20:23] joslloand opened #94 "Migrate atkMatrixLibrary to READ all atk-matricies supplied matrices?"
At the moment atkMatrixLibrary includes some hard coded matrices (i.e., the Wiggins 5_0 decoders) that are also distributed via [atk-matrices](https://github.com/ambisonictoolkit/atk-matrices).

In the long run, loading these distributed matrices would reduce redundancies.

[2022-02-24 20:25] joslloand commented on #94
Also... atkMatrixLibrary could handle the reading of hoa1 matrices, too.

[2022-02-24 20:31] joslloand commented on #92
@lossius, here's the relevant commit: c88ccbb9ff6de2b33f7971320bf9a5c872f6351a

You'll want to be on atk-matrices v1.0.1

EDIT: or, can use [atk-matrices v1.0.3](https://github.com/ambisonictoolkit/atk-matrices/releases/tag/v1.0.3) (This is just a github action release update. The actual matrices are the same.) Thanks @dyfer

[2022-02-25 22:26] dyfer commented on #92
To summarize: as discussed with @joslloand a moment ago, this problem is two-prong:
- the matrices need to be on version >=1.0.1 to address issue with comment symbol in the text files (the issue was not present in older versions of Reaper supposedly)
- paths need to be updated in the JSFX code because of updates pointed out by @joslloand
`FOA/encoders/acn-n3d1.mosl.txt` -> `FOA/encoders/hoa1/acn-n

[2022-02-26 00:07] joslloand commented on #92
@lossius, should I do the merge? Or would you like to test first??

EDIT: .zip files ready!! (use [v1.0.3](https://github.com/ambisonictoolkit/atk-matrices/releases/tag/v1.0.3))

[2022-03-02 21:29] leo-nerd opened #95 "Help needed for install on Mac OS"
Hello. The link on ambisonicstoolkit.net to download the package for Mac OS appears to lead to a broken Dropbox page. I cannot work out how to build the .dmg from the files in the "installer" folder on this repo as an alternative. Thanks!

[2022-03-04 12:29] lossius commented on #92
I have updated atk-matrices submodule to 1.0.3. Works locally here, and will be part of the next version. What remains now is to update what atk-matrices files are included in the Win and macOS installers

[2022-03-04 12:41] lossius commented on #92
Installer scrips etc. are updated to work with atk-matrices v.1.0.3. Closing this issue.

[2022-03-04 12:41] #92 closed, assigned to lossius

[2022-03-04 12:43] lossius commented on #95
@leo-nerd : I just tested, and I see that in Dropbox you get a "Couldn’t preview this file" as disk images can't be previewed by Dropbox. Still, there is a download button, and it is confirmed to work. Please try again, and if you don't figure it out, you can always download the Windows version instead and install it manually. That works just as well on macOS. there is no difference (or platform-s

[2022-03-04 12:43] #95 closed, assigned to nobody

[2022-03-04 12:45] lossius commented on #50
It is better to solve this via the pin connector matrix that is provided for all plugins in Reaper. Now that we have good indications of channel order in the GUIs of all encoders and decoders, I believe we are fine.

Closing this issue.

[2022-03-04 12:45] #50 closed

[2022-03-04 19:12] joslloand commented on #92
Thanks @lossius !!

[2022-03-04 19:14] joslloand commented on #50
Makes sense, now the labels are included.

[2022-03-07 21:44] joslloand opened #96 "Consider automated creation of release?"
@dyfer added a [GitHub Action](https://docs.github.com/en/actions) to automate releases for [atk-matrices](https://github.com/ambisonictoolkit/atk-matrices/commit/1060efcb61f16ed8b4cb073d5b49d05af516456f) and [atk-kernels](https://github.com/ambisonictoolkit/atk-kernels/commit/5ee9063fe6882ec3215497d1e53d528f808a44b1).

Would it be useful to consider something similar for atk-reaper?

[2022-03-08 07:20] lossius commented on #96
I am not sure if it is as straightforward with releases of ATK for Reaper, in particular, the macOS installer has to be created on a Mac. I have local scripts (they are in the tools folder of the repository) for making the installers and these work well for me. I anyway like to test the release candidates on a separate and clean user account on my Mac as well as on Windows before properly releasin

[2022-03-08 19:28] joslloand commented on #96
@dyfer, can you answer this?

[2022-03-08 19:42] dyfer commented on #96
GitHub runners are available with macOS, Windows and Linux images, so that shouldn't be a problem. Thanks for pointing out the scripts, that's helpful.

One way to address this in automated environment is to make a pre-release (release candidate), which would trigger artifact creation. If everything is fine, a new release is made with the updated version number and essentially the same code (new a

[2022-03-09 08:06] lossius commented on #96
@dyfer Thanks. In this case, it can actually be quite worthwhile to pursue. Currently, I upload builds to Dropbox and use Bit.ly for short links. That gives some statistics, but with a free plan, they are fairly rudimentary and linked to my login account, so the statistics aren't available to others other than me.

The script for building the Windows install should be straightforward. In reality,

[2022-03-22 09:50] ariutti commented on #70
Hello and sorry for the intrusion but I too have found it difficult to understand how to install plugins on Linux until, with a bit of research, I came across this issue and found the solution.

Wouldn't it be more practical to include Linux on the downloads page among the supported platforms (alongside Windows and MacOS)?

Thank you

[2022-04-18 21:45] joslloand opened #97 "Broken MacOS download link"
Confirmed!

For the Mac link I get this: https://bitly.com/a/blocked?hash=3BVVJDX&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fh68lrksnr5eaukh%2FATK_for_Reaper_Mac_1.0.b11.dmg%3Fdl%3D0

However, for the Windows link, it goes through: https://www.dropbox.com/s/85oimjlepz6kym4/ATK_for_Reaper_Win_1.0.b11.zip?dl=0

[2022-05-16 22:45] joslloand commented on #97
**Update**

Here's the direct macOS link: https://www.dropbox.com/s/h68lrksnr5eaukh/ATK_for_Reaper_Mac_1.0.b11.dmg

[2022-05-20 22:35] joslloand commented on #72
similar to: https://github.com/ambisonictoolkit/atk-reaper/issues/73

We should probably have a discussion about this... whether a using flag for target format would be the way to go.

Relatedly, this probably applies to the complete plugin project...

[2022-05-22 10:34] mtmccrea commented on #72
+1 for the addition of the flag throughout the project, for both input and output formats :)

It would make make the integration with other workflows more seamless, especially given that many modern recorders and mic encoders are outputting SN3D.

[2022-05-23 13:53] lossius opened #98 "mono decoder – azimuth parameter is not working"
When testing this plugin today, it turns out that the decoder does not respond to changing values of the azimuth parameter.

[2022-05-24 14:30] #97 closed, assigned to nobody

[2022-05-24 14:31] lossius commented on #97
I assume that the reason why we get the Bitly problem is that the macOS installer is not codesigned.

[2022-05-24 18:44] joslloand commented on #97
Hmm.... could be.

It is also worth noting that the various **Previous Versions** download links on [Download ATK for Reaper](https://www.ambisonictoolkit.net/download/reaper/) are also now broken, too.

[2022-05-24 18:47] joslloand commented on #97
https://github.com/ambisonictoolkit/ambisonictoolkit.github.io/commit/d34432da949d8a1911fc17148d33a490cff024c7#commitcomment-74412588

[2022-05-24 18:49] joslloand commented on #96
See also this comment: https://github.com/ambisonictoolkit/ambisonictoolkit.github.io/commit/d34432da949d8a1911fc17148d33a490cff024c7#commitcomment-74412588

[2022-05-26 15:33] ZucchiPfl opened #99 "Encode AmbiXtoB outputs 0."
Hi,

It seems that the Encode AmbiXtoB and Decode BtoAmbiX are not working properly : there is no signal at there outputs and when I checked the code inside the Reaper's JS IDE, mMatrixDSP.cell[i] don't have values. It looks like it can't read the "acn-sn3d1.mosl.txt" or "acn-n3d1.mosl.txt" files but I can't figure what is really happening ...

Tried on macOS 10.14 and Windows 10 on two different

[2022-05-26 20:25] joslloand commented on #99
Hi @ZucchiPfl

This is a duplicate of #88, which has been closed. The issue is that a **new release hasn't been pushed** as of yet. I'll go ahead and leave this open for the moment; for the time being, you can try the pre-release (thanks @lossius!!):

[2022-05-27 12:45] ZucchiPfl commented on #99
Hi,
woops, yep sorry, forgot to check the closed issues ...
Thanks a lot !

[2022-05-27 18:31] joslloand commented on #99
@ZucchiPfl, no worries!

Thanks for taking the time to report!!